body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.department-title {
  text-align: left;
  margin-left: 100px;
}

table {
  border-collapse: collapse;
  width: 800px;
  margin: auto;
  background: white;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  vertical-align: top;
  font-size: 18px;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.logo {
  border: 2px solid black;
  border-radius: 50%;
  width: 150px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: auto;
  font-weight: bold;
}

.inner-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.inner-table th, .inner-table td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}
.letter1 {
  list-style-type: lower-roman;
}
.letter2{
    list-style-type: lower-alpha;
    
}

